
<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Test override output folder</title>
  
  
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa">
  

  
  <link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/main.css">
  

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  
</head>

<body>
  <header>
    <p class="logo">ABC Company</p>
</header>
  <div class="content-wrapper">
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/foo/bar/">Test (dump data)</a></li>
      <li><a href="/test1/">Test (draft mode)</a></li>
      <li><a href="/test2/">Test (nested layout)</a></li>
      <li><a href="/test3/">Test (override output folder)</a></li>
    </ul>
</nav>
    <main>
        
<h2>Test override output folder</h2>
<p>Normally, the output (build) folder is /_site. That can be overridden for specific pages. This page is output in the _includes folder by adding </p>

<p>
permalink: "_includes/test3.html"
permalinkBypassOutputDir: true
</p>

<p>to the frontmatter.</p>

<p>Note that if you run this using the --serve flag, then you'll end up in an infinite loop, constantly rebuilding all pages because 11ty will keep detecting a change to the file system when it writes files to locations that are not ignored, e.g. the _site folder. To fix this, add a directive in .eleventy.js to ignore the page built by this template, e.g.</p>

<p>eleventyConfig.ignores.add("_includes/test3.html");</p>
    </main>
  </div>
  <footer>
    Copyright 2022
</footer>
  
  <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
  
</body>

</html>
