---
layout: default.njk
title: Draft Mode
permalink: false
---
<h2>{{ title }}</h2>
<p>This page would normally be built to the _site folder but it doesn't because the permalink front matter is set to false. This is like having the page in draft mode when you're not ready to publish it yet.</p>