---
title: "Component Macro"
layout: "default.njk"
---
{%- from "component.njk" import component -%}

<h1>{{title}}</h1>

  {{ component('button', {
    primary: 'Hello'
  }) }}

  {{ component('button', {
    primary: 'Hello',
    secondary: 'World'
  }) }}

<hr>

{{ component('note') }}

{{ component('note', {
    show2ndMsg: true
}) }}